source https://nuget.org/api/v2

group FakeBuild
  source https://nuget.org/api/v2

  nuget FAKE
  nuget NUnit.Runners ~> 2
  nuget NuGet.CommandLine

group UnitTest
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget FluentAssertions ~> 3
  nuget Moq ~> 4